@import "variable";

.leaf-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 20px;
  list-style: none;
  box-shadow: $menu-box-shadow;
  border-bottom: $menu-border-width solid $menu-border-color;
  > .menu-item {
    caret-color: rgba(0, 0, 0, 0);
    padding: $menu-item-padding-y $menu-item-padding-x;
    cursor: pointer;
    transition: $menu-transition;
    &:hover,
    &:focus {
      text-decoration: none;
    }
    &.is-disabled {
      cursor: not-allowed;
      color: $menu-item-disabled-color;
      box-shadow: none;
      > * {
        pointer-events: none;
      }
    }
    &.is-active,
    &:hover {
      //$menu-item-active-color更改为css变量
      // color: $menu-item-active-color;
      // border-bottom: $menu-item-active-border-width solid
      //   $menu-item-active-color;
      color: var(--global-primary-color);
      border-bottom: $menu-item-active-border-width solid
        var(--global-primary-color);
    }
  }
  .submenu-item {
    position: relative;
    .submenu-title {
      display: flex;
      align-items: center;
    }
    .arrow-icon {
      transition: transform 0.25s ease-in-out;
      margin-left: 3px;
    }
    &:hover {
      .arrow-icon {
        transform: rotate(180deg);
      }
    }
  }

  .is-vertical {
    .arrow-icon {
      transform: rotate(0deg) !important;
    }
  }
  .is-vertical.is-opened {
    .arrow-icon {
      transform: rotate(180deg) !important;
    }
  }

  .leaf-submenu {
    display: none;
    list-style: none;
    padding-left: 0;
    white-space: nowrap;
    //transition: $menu-transition;
    .menu-item {
      padding: $menu-item-padding-y $menu-item-padding-x;
      cursor: pointer;
      transition: $menu-transition;
      color: $body-color;
      &.is-active,
      &:hover {
        color: var(--global-primary-color) !important;
      }
    }
  }
  .leaf-submenu.menu-opened {
    display: block;
  }
}
.menu-horizontal {
  > .menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
  }
  .leaf-submenu {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}
.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  border-right: $menu-border-width solid $menu-border-color;
  > .menu-item {
    caret-color: rgba(0, 0, 0, 0);
    border-left: $menu-item-active-border-width solid transparent;
    &.is-active,
    &:hover {
      color: var(--global-primary-color);
      border-bottom: 0px;
      border-left: $menu-item-active-border-width solid var(--global-primary-color);
    }
  }
}
